body{
    background-image: url('imagens/fundoBibliotecaJPG.jpg');
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: 133%;

    margin: 0svb;
    overflow:none; 
}

.cabecalho{
    display: flex;
    background-color: #1c0e04;
    border: solid 0px #fff;
    border-bottom: solid 1px #78503a;
    padding: 1%;

    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;

    margin-bottom: 8%;
}

.areaBotoes{
    border: solid 0px #fff;
    height: fit-content;
    width: 368.1px;
    display: flex;

    gap: 8%;

    margin-left: 40%;
}

.botaoPaginas{
    background-color: #623A24;
    text-decoration: none;
    color: #fff;
    width: 70px;
    min-width: 70px;

    height: 30px;
    min-height: 30px;

    border-radius: 7px;
    border: solid 1px;

    transition: 0.3s;
}

.botaoPaginas:hover{
    cursor: pointer;
    background-color: #4d2814;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: inherit;
}

.logoSite{
    width: 8%;
    height: auto;
    margin-left: 0%;
    margin-right: 1%;
}

.tituloCabecalho{
    color: #fff;
}

.areaInfo{
    border: solid 0px #fff;
    width: 60%;
    margin-top: 100px;

    align-items: center;
    margin: auto;
    justify-content: center;

    color: #fff;
}

.tituloInfo{
    text-align: center;
    font-size: 50px;
}

.textoUm, .textoDois{
    font-size: 20px;
}

footer {
  color: #ffffff;
  text-align: center;
  margin-top: 17%;
  padding: 15px;
  bottom: 0;
  font-size: 14px;
  font-weight: bold;
  width: 98,5%;
  background-color: #1c0e04;
}